main {
    max-width: 1200px;
    margin: 0 auto;
}

form {
    display: flex;
    justify-content: center;
}

img {
    width: 300px;
}

#replyArea {
    background-color: darkgrey;
}

div[contenteditable="true"] {
    border: 1px solid black;
    height: 75px;
}