main {
    max-width: 1200px;
    margin: 0 auto;
}

form {
    display: flex;
    justify-content: center;
}

img {
    width: 300px;
}

div[contenteditable="true"] {
    border: 1px solid black;
    height: 75px;
}

hr:first-child {
    display: none;
}

#replyArea {
    background-color: darkgrey;
}

#fileWrwapper span {
    cursor: pointer;
    color: red;
}

#documentWrapper, #imgWrapper {
    display: flex;
}