body {
    text-align: center;
}

content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
}

th, tr, td {
    border: 1px solid black;
    text-align: center;
}