<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>member-join</servlet-name>
        <jsp-file>/jsp/member-join.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>member-join</servlet-name>
        <url-pattern>/member-join</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>member-login</servlet-name>
        <jsp-file>/jsp/member-login.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>member-login</servlet-name>
        <url-pattern>/member-login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>list</servlet-name>
        <jsp-file>/jsp/list.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>list</servlet-name>
        <url-pattern>/board/list</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>write</servlet-name>
        <jsp-file>/jsp/write.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>write</servlet-name>
        <url-pattern>/board/write</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>content</servlet-name>
        <jsp-file>/jsp/content.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>content</servlet-name>
        <url-pattern>/board/content</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/resources/*</url-pattern>
    </servlet-mapping>


    <!--  에러 페이지  -->
    <error-page>
        <exception-type>exception.login.MemberNotFoundException</exception-type>
        <location>/jsp/error-page/login-error.jsp</location>
    </error-page>
</web-app>
